body {
    background-color: #f7e6eb; /* pastel pink lembut */
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #4c8c7c; /* hijau sage lembut */
}
